.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pageNumber {
    list-style: none;
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #f0f0f0;
    }
  }
  .pageNumber.active:active {
    background-color: #fff; /* Cambia el color de fondo incluso después de presionar */
    color: #000; /* Cambia el color del texto cuando está activo y presionado */
  }
  
  .pageNumber:focus {
    background-color: #fff; /* Cambiar el color de fondo cuando el botón está activo */
  }
  
  .active {
    background-color: #3498db;
    color: #fff;
  }
  .active:focus {
    background-color: #a3a3a3;
    color: #fff;
  }
  
  .inactive {
    color: #ccc;
    cursor: not-allowed;
  }
  
  .list {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  
  .li {
    display: flex;
    justify-content: center;
    align-items: center;
  }